{% extends "layout.html" %}

{% block pageTitle %}
  Manage apprenticeships
{% endblock %}

{% set serviceName = "Manage apprenticeships" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Manage apprenticeships
        </h1>
        <p class="govuk-body-lead">This service is for organisations that want to take on apprentices.</p>
        <p>Use this service to:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>set up and manage apprenticeship training</li>
            <li>pay for apprenticeship training</li>
        </ul>
        <p>To access funds to pay for apprenticeship training you need to register on the apprenticeship service. <b>If you already have an account <a href="">sign in</a></b></p>
        <a href="used-service-before" class="govuk-button govuk-button--start">Start</a>
        <h2 class="govuk-heading-m govuk-!-margin-top-4">Before you start</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li>Find out more about <a href="https://www.gov.uk/take-on-an-apprentice">employing apprentices</a></li>
            <li>Find out <a href="https://www.gov.uk/guidance/manage-apprenticeship-funds">how you can use</a> your apprenticeship account</li>
            <li>Find out about the <a href="https://www.gov.uk/government/publications/apprenticeship-levy-how-it-will-work/apprenticeship-levy-how-it-will-work">apprenticeship levy</a></li>
        </ul>
    </div>
</div>

{% endblock %}
