{% extends "layout.html" %}

{% block pageTitle %}
Manage apprenticeships
{% endblock %}

{% set serviceName = "Manage apprenticeships" %}

{% set _orgName = data['orgName'] or "ASSURANCE AEROSPACE LTD" %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "panel/macro.njk" import govukPanel %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation" style="background: #6f777b">
      <h1 class="govuk-panel__title">
        You’ve created an apprenticeship service account
      </h1>
    </div>

    <p class="govuk-body">Use your email address [[entered@email.com]] to sign in.</p>

    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">
     You can use your account to view apprenticeships or training providers you saved to your favourites.
   </p>

   <p class="govuk-body">
    To use the other features in your account, you need to add a PAYE scheme and accept the employer agreement.
  </p>

  {{ govukButton({
    text: "View your account",
    href: "homepage-addPAYE"
  }) }}

  <p class="govuk-body">
    <a href="ways-to-add-paye" class="govuk-link govuk-link--no-visited-state">Add a PAYE scheme</a>
  </p>
</div>
{% endblock %}