{% extends "layout.html" %}

{% block pageTitle %}
Manage apprenticeships
{% endblock %}

{% set serviceName = "Manage apprenticeships" %}

{% set _orgName = data['orgName'] or "ASSURANCE AEROSPACE LTD" %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "panel/macro.njk" import govukPanel %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6" style="background: #6f777b">
      <h1 class="govuk-panel__title">
        You’ve added a PAYE scheme
      </h1>
    </div>

    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">
      You can now use your account to create draft adverts and add apprentice details.
    </p>

    <p class="govuk-body">
      You need to accept the employer agreement to:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>get or reserve apprenticeship funding</li>
      <li>approve apprentice details</li>
      <li>publish adverts</li>
    </ul>

    {% set payeUrl = "https://ma-registration-ci.herokuapp.com/5-0/registration/ways-to-add-paye"|urlencode %}
    {% set agreementUrl = "https://ma-registration-ci.herokuapp.com/5-0/registration/agreement-check"|urlencode %}

    {{ govukButton({
      text: "View your account",
      href: "https://ma-employer-account.herokuapp.com/transactional-0-44/account-home?add-paye-now=yes&sign-agreement-now=no&paye-redirect="+ payeUrl +"&agreement-redirect="+ agreementUrl
    }) }}

    <p>
      <a href="agreement-check">Continue</a>
    </p>

  </div>
</div>
{% endblock %}