{% extends "layout-ma.html" %}

{% block pageTitle %}
  Manage apprenticeships
{% endblock %}

{% set serviceName = "Manage apprenticeships" %}

{% block content %}

    <section class="das-section das-section--header">
        <div class="govuk-width-container">
            <h1 class="govuk-heading-m das-account__title">Your employer account</h1>
            <h2 class="govuk-heading-l das-account__account-name">My account</h2>
        </div>
    </section>


    <main class="govuk-main-wrapper das-section--dashboard" id="main-content" role="main">
        <div class="govuk-width-container">
            <div class="das-panels">
                <div class="das-panels__col das-panels__col--primary">
                    <div class="das-panel das-panel--featured">
                        <h3 class="das-panel__heading">You’ve successfully <br>registered your account</h3>
                        <p>Add your organisation’s PAYE scheme and sign your employer agreement with the Education and Skills Funding Agency to get funding for apprenticeship training.</p>
                        <p><a href="gov-funding" class="das-panel__link">Add your PAYE scheme</a> </p>
                    </div>
                    <div class="das-panel">
                        <h3 class="das-panel__heading">Financial transactions</h3>
                        <p>View your transactions here once your account is set up.</p>
                    </div>
                </div>
                <div class="das-panels__col das-panels__col--secondary">
                    <div class="das-panel">
                        <h3 class="das-panel__heading">Add a training provider</h3>
                        <p>You must sign your employer agreement before you can add a training provider and control what tasks you would like your training provider to do on your behalf.</p>
                        <p style="padding-bottom: 30px";>
                    </div>
                    <div class="das-panel">
                        <h3 class="das-panel__heading">Recruitment</h3>
                        <p>Add your PAYE scheme first, then you can advertise apprenticeship vacancies.</p>
                        <!--<p><a href="#" class="govuk-link govuk-link--no-visited-state">Create a vacancy</a> </p>-->
                        <p style="padding-bottom: 60px";></p>
                    </div>
                </div>
            </div>
        </div>
    </main>


            </div>
        </div>
    </section>


{% endblock %}