{% extends "layout-email.html" %}

{% block pageTitle %}
Your emails
{% endblock %}

{% block content %}

<p class="govuk-body">Dear John Smith,</p>

<p class="govuk-body">Mary Jones at ABC Training has invited you to register for an Apprenticeship Service account for Assurance Aerospace.</p>

<p class="govuk-body">Registering for an account gives you access to funding to pay for apprenticeship training.</p>

<p class="govuk-body">You'll also be able to post apprenticeship vacancies on Find an apprentice.</p>

<h2 class="govuk-m">What you'll need:</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>the Government Gateway login or accounts office reference number and employer PAYE scheme reference for this organisation</li>
  <li>authority to add PAYE schemes to the account for this organisation</li>
  <li>authority to sign the employer agreement for this organisation</li>
</ul>

<p class="govuk-body-l govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-visited-state" href="/1-2/registration/new-user?email-journey=true">Set up your account</a></p>

<h2 class="govuk-heading-s">Government Gateway details</h2>

<p class="govuk-body">Your Government Gateway user ID is up to 12 characters long. HM Revenue and Customs (HMRC) sent it to you by email when your Government Gateway account was set up.</p>

<p class="govuk-body">If you lose or forget your user ID or password, you can reset them online.</p>

<p class="govuk-body">You can find your PAYE reference numbers on the:</p>


<ul class="govuk-list govuk-list--bullet">
    <li>letter HMRC sent you when you first registered as an employer</li>
    <li>front of your payment booklet (or the letter from HMRC that replaced it)</li>
  </ul>

<p class="govuk-body">The accounts office reference number is 13 characters. The employer PAYE reference number is 11 characters.</p>
<br><br>
<p class="govuk-body-s">If you'd prefer to no longer get these emails from your training provider, you can unsubscribe.</p>

<p class="govuk-body-s">If you didn't agree with your training provider to receive this invitation, you can let us know.</p>

<p class="govuk-body">This message is automated, please don't reply.</p>

<p class="govuk-body">Thanks,</p>
<p class="govuk-body">Apprenticeship Service Team</p>


{% endblock %}
