{% extends "layout.html" %}

{% block pageTitle %}
  Manage apprenticeships
{% endblock %}

{% set serviceName = "Manage apprenticeships" %}

{% block content %}

<style>
    .govuk-header__container{
        border-bottom: 10px solid #fd7742;  
    }
</style>

<div class="govuk-width-container">
  
    <main class="govuk-main-wrapper">
  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              The employer account is ready for them to complete
            </h1>
            <div class="govuk-panel__body">
              The employer has been sent an email invitation with instructions to complete the set-up of the account.
            </div>
          </div>
          <!-- <br>
          <p class="govuk-body">The employer has been sent an email invitation with instructions to complete the set-up of the account.</p> -->

        </div>
      </div>
  
    </main>
  </div>

  {% from "radios/macro.njk" import govukRadios %}

  {{ govukRadios({
    idPrefix: "where-do-you-live",
    name: "where-do-you-live",
    fieldset: {
      legend: {
        text: "What next?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },

    items: [
      {
        value: "england",
        text: "Invite another employer"
      },
      {
        value: "wales",
        text: "Return to homepage"
      }
    ]
  }) }}

  <a href="index" class="govuk-button">Continue</a>


{% endblock %}