{% extends "layout.html" %}

{% block pageTitle %}
  Manage apprenticeships
{% endblock %}

{% set serviceName = "Manage apprenticeships" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Unsubscribe from emails
                </h1>
              </legend>
              <span id="nationality-hint" class="govuk-hint">
                If you would like to unsubscribe, please select the option below.
              </span>
              <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british" aria-describedby="nationality-item-hint">
                  <label class="govuk-label govuk-checkboxes__label" for="nationality">
                    Unsubscribe from emails from this training provider
                  </label>
                  <span id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                    This will not affect the regular emails you receive as a registered user of our digital service. The training provider won’t be told you have unsubscribed.
                  </span>
                </div>
              </div>
            </fieldset>
          </div>
        <a href="unsubscribe-confirmation" class="govuk-button">Unsubscribe</a>
    </div>
</div>

{% endblock %}
