{% extends "layout.html" %}

{% block pageTitle %}
  Manage apprenticeships
{% endblock %}

{% set serviceName = "Manage apprenticeships" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <!-- <span class="govuk-caption-xl">Email settings</span> -->
        <h1 class="govuk-heading-xl">Unsubscribe from emails</h1>
        <!-- <p class="govuk-body-lead">This service is for organisations that want to take on apprentices.</p> -->
        <p>If you would like to change your preferences, and how we contact you please select your preferred options below.</p>
        <br>
        <div class="govuk-form-group">
            <label class="govuk-label" for="event-name">
              <strong>Your email address you wish to unsubscribe</strong>
            </label>
            <!-- <span id="event-name-hint" class="govuk-hint">
              The name you&#39;ll use on promotional material.
            </span> -->
            <input class="govuk-input" id="event-name" value="&nbsp; joe.bloggs@yourcompany.co.uk" name="event-name" type="text" aria-describedby="event-name-hint" disabled>
          </div>
          <br>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
              <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in">
                Unsubscribe from emails from this training provider
              </label>
              <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                This will not affect the regular emails you receive as a registered user of our digital service
              </span>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
              <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in-2">
                Unsubscribe from all Apprenticeship Service emails
              </label>
              <!-- <span id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
                You’ll have an account if you’ve already proved your identity with either Barclays, CitizenSafe, Digidentity, Experian, Post Office, Royal Mail or SecureIdentity.
              </span> -->
            </div>
          </div>
          <br>
          <br>
        <a href="unsubscribe-confirmation" class="govuk-button">Unsubscribe</a>
    </div>
</div>

{% endblock %}
