{% extends "layout.html" %}


{% block beforeContent %}

{% from "back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<script src="/public/javascripts/accordion.js"></script>


 <script>

// uncomment this to turn on the accordions

if (
    'addEventListener' in document &&
    document.querySelectorAll
) {

    document.addEventListener('DOMContentLoaded', function() {

        var accordions = document.querySelectorAll('.accordion')

        for (var i = accordions.length - 1; i >= 0; i--) {
            new Accordion(accordions[i])
        };

    })

}
</script>

<style>
/* REMOVES THE GOV FOOTER BECAUSE OF THE STICKY THING. NEED TO DO PROPERLY */
/*.govuk-footer {display:none;}
*/
.agreement ol a {color:#005ea5; text-decoration: underline}
.agreement header {color:#000;}
.agreement .agreement-contents h2 .number {padding-left:0; font-size:36px; left:-8%; font-weight:700; background-color:#fff; width:8%; z-index:9999;}

/* Fiddling about with the ordered list, to make it left aligned to see what it looks like */
.dinosaurs {list-style-position: inside !important;}
.dinosaurs li{ position: relative; list-style-position: inside !important;}
.dinosaurs li a {position: absolute; left: 40px;}

</style>


<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l">
    
     <div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
         <h1 class="govuk-heading-xl">Memorandum of Understanding between {Organisation here} and the Education and Skills Funding Agency (ESFA)</h1>
          <p class="govuk-body">This document was updated on 25th July 2019.</p>
          <p>This document sets out what is expected of you during the Expression of Interest (EOI) testing period.</p>
          <h2 class="govuk-heading-m">What is in the document</h2>
          <p class="govuk-body">You must read and understand the Memorandum of Understanding and be aware of the following:</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>you should agree the cost of an EOI apprenticeship with your training provider before it starts and this information should be recorded on your digital account</li>
              <li>you must use the functionality in your digital account to approve payments to your training provider for EOI apprenticeships</li>
              <li>you must ensure that the training provider named on your EOI application delivers the training for any of your EOI apprentices</li>
              <li>you must ensure that the information about an apprenticeship is entered accurately on the Digital Account and that it is kept up to date</li>
              <li>if you don’t follow the rules of this Memorandum of Understanding, you might be asked to leave the EOI</li>
          </ul>
            <br>
          <h2 class="govuk-heading-m">The full document:</h2>
          <p>Content will go here...</p>

</div>
</div>

<div class="govuk-grid-column-two-thirds">


</main>



</div>

    <br>

    <div>
        <a href="#" target="_blank" class="download">Save this MoU as a PDF</a>
    </div>

    <br>
    <br>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <!--       <h2 class="govuk-heading-l">Sign this agreement</h2> -->




<!-- </div> -->


<form method="post" class="form">
        

    {% from "radios/macro.njk" import govukRadios %}
    {% from "input/macro.njk" import govukInput %}
    
    
    {{ govukRadios({
      idPrefix: "agreementSign",
      name: "agreementSign",
      fieldset: {
        legend: {
          text: "Do you accept the Memorandum of Understanding?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yesSign",
          text: "Yes, I have read the Memorandum of Understanding and accept it"
        },
        {
          value: "noSignLater",
          text: "I’ll review it later",
          conditional: {
            html: noHTML
          }
        }
      ]
    }) }}

    <!-- Call to action button -->
    <button class="govuk-button" >Continue</button>

</form>


</div>
</div>
</div>
</div>


      </div>
  </div>
      </div>
</main>
</fieldset>
</div>
</form>
</nav>
</header>
</article>
</div>
</div>
</div>

{% endblock %}