{% extends "layout.html" %}

{% block pageTitle %}
  Manage apprenticeships
{% endblock %}

{% set serviceName = "Manage apprenticeships" %}
{% set backLinkHref = "changePermissions" %}


{% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl" id="company-Name">Give ABC Training Ltd permission to help with apprentice recruitment?</h1>
                <p class="">You can give ABC Training Ltd permission to help with:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>posting apprenticeship vacancies</li>
                    <li>candidate sifting</li>
                </ul>
                <p>You'll still have final approval on any decision making.</p>
 
               

<form method="post" class="form">

                <div id="addTheError" class="govuk-form-group">
          <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h2 class="govuk-fieldset__heading" style="margin-top:25px">
              Give ABC Training Ltd permission to help recruit apprentices?
            </h2>
          </legend>

          <div class="govuk-radios ">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="needed-1" name="providerManageRecruit" type="radio" value="providerManageRecruitTrue">
              <label class="govuk-label govuk-radios__label" for="needed-1">
                Yes, I give them permission
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="needed-2" name="providerManageRecruit" type="radio" value="providerManageRecruitFalse">
              <label class="govuk-label govuk-radios__label" for="needed-2">
                No, I’ll manage them myself
              </label>

            </div>
          </div>
          </fieldset>
        </div>
 
    <button class="govuk-button">Save and continue</button>  <!-- <a  class="govuk-button clear-button" href="./cyberdyne" >Cancel and return</a> -->
</form>
</div>
</div>
</div>
{% endblock %}