{% extends "layout.html" %}

{% block pageTitle %}
  Manage apprenticeships
{% endblock %}

{% set serviceName = "Manage apprenticeships" %}
{% set backLinkHref = "gov-funding" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" class="form">
           <h1 class="govuk-heading-xl">
             Ways to add your PAYE scheme
           </h1>
           <p class="govuk-body">You can add a PAYE scheme using either your:</p>
                <ul class="govuk-list govuk-list--bullet">
               <li>Government Gateway login for your PAYE scheme</li>
               <li>accounts office reference number and employer PAYE scheme reference</li>
           </ul>

           <h2 class="govuk-heading-m">By continuing you agree to the following:</h2>
                <div class="govuk-inset-text">
                    I have the authority to add PAYE schemes to this account that are used by my organisation.
                </div>


           {% from "radios/macro.njk" import govukRadios %}

           {{ govukRadios({
             idPrefix: "ways-to-add-your-paye",
             name: "ways-to-add-your-paye",
             fieldset: {
               legend: {
                 text: "How do you want to add your PAYE scheme?                 ",
                 isPageHeading: true,
                 classes: "govuk-fieldset__legend--s"
               }
             },
             items: [
               {
                 value: "govgateway",
                 text: "I want to use Government Gateway"
               },
               {
                 value: "aorn",
                 text: "I want to use my accounts office reference number and employer PAYE scheme reference"
               }
             ]
           }) }}

           <button class="govuk-button">Continue</button>

</form>
    </div>
</div>

{% endblock %}